body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.6;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1020;
}

.preloader__image {
    position: relative;
    top: 30%;
    left: 30%;
    width: 50%;
    height: 50%;
    margin-top: -32px;
    margin-left: -32px;
    background: url('images/2nnJ.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Хедер */
.headerContainer {
    position: fixed;
    top: 0px;
    left: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    /* border: 2px solid gold; */

    transition: 0.4s;

    z-index: 1000;
}

.headerContainer:hover {
    background-color: white;
}

.nav__link:hover {
    color: #59a3f8;
    border-bottom: 2px solid rgba(184, 150, 72, 0.733);
    transition: color 0.3s linear;
}

/* Логотип Семейка */
.logo a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s linear;
    /* border: 2px solid gold; */
    padding-left: 10px;
}
.logo a:hover {
    color: #59a3f8;
}

/* Стили кнопок навигации справа */
.nav {
    font-size: 14px;
    text-transform: uppercase;
    /* border: 2px solid gold; */
    max-width: fit-content;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px;

    color: #333333;
    text-decoration: none;
    font-weight: bold;

    transition: color 0.3s linear;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Контейнер для Колосов */
.intro {
    margin: auto;
    margin-top: 55px;
    margin-bottom: 120px;
    width: 100%;
    height: 620px;
    background: url('images/oblaca.png') center;
    background-size: cover;

    opacity: 0.9;
    z-index: 1010;
    /* border: 1px solid black; */
}

.intro:hover > .containerForText .text {
    opacity: 1;
    background: rgba(184, 150, 72, 0.733);
    transition: 0.4s;
    color: rgb(255, 255, 255);

    z-index: 1002;
}

.containerForText {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    z-index: 1000;
}

.containerForText .text {
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    margin: 0;
    transition: 2s linear;
    z-index: 1001;
    cursor: default;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/*О нас*/
/* .willbeVitya {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 130px;
    padding: 0 150px;

    border: 2px solid gold;
}

.willbeVitya div {
    flex-grow: 1;
    height: 600px;
    width: 10%;
    padding: 10px 20px;

    border: 2px solid black;
    margin: 0 10px;
} */
.flexContainer {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 140px;
    padding: 0 150px;

    border: 2px solid gold;
}

.flexContainer div {
    flex-grow: 1;
    height: 600px;
    width: 10%;
    padding: 10px 20px;

    border: 2px solid black;
    margin: 0 10px;
}

.textabout {
    background-color: rgb(255, 255, 255);
}

.pair {
    background: url('images/oblaca.png');
    background-position: center;
    width: 655px;
    height: 495px;
}

.textabout2 {
    background-color: rgb(255, 255, 255);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Что мы умеем */
.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 525px;
    width: 90%;
    margin: auto;
    margin-bottom: 140px;
}

/* Общие стили */

.skills .anya,
.skills .vitya {
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;
    background-color: rgb(107, 177, 243);
    height: 100%;
    flex-grow: 1;
}

/* Блок Ани */

.anya .imagesAnya {
    width: 15%;
    flex-grow: 1;
    border: 1px solid blanchedalmond;
    transition: 0.2s;
}

.anya .first {
    width: 15%;
    flex-grow: 1;
    border: 1px solid blanchedalmond;
}

.anya .imagesAnya:hover {
    flex-grow: 5;
    transition: 0.2s;
}

/* Блок Вити */

.vitya .imagesVitya {
    width: 15%;
    flex-grow: 1;
    border: 1px solid blanchedalmond;
    transition: 0.2s;
}

.vitya .imagesVitya:hover {
    flex-grow: 5;
    transition: 0.2s;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Кем мы будем */

.willbe {
    width: 100%;
    margin-bottom: 140px;
}

/* Блок Вити */
.willbeVitya {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 130px;
    padding: 0 150px;

    border: 2px solid gold;
}

.willbeVitya div {
    flex-grow: 1;
    height: 600px;
    width: 10%;
    padding: 10px 20px;

    border: 2px solid black;
    margin: 0 10px;
}

.willbeVitya .pictureVitya {
    background: url('images/Витя.jpg');
    background-position: center;
    background-size: cover;

    border: 2px solid black;
}

/* Блок Ани */

.willbeAnya {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 130px;
    padding: 0 150px;

    border: 2px solid gold;
}

.willbeAnya div {
    flex-grow: 1;
    height: 600px;
    width: 10%;
    padding: 10px 20px;

    border: 2px solid black;
    margin: 0 10px;
}

.willbeAnya .pictureAnya {
    background: url('images/Аня.jpg');
    background-position: center;
    background-size: cover;

    border: 2px solid black;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Наши приколы */

.backgroundPrikol {
    background-color: cornflowerblue;
    width: 100%;
    height: 600px;
    margin-bottom: 130px;
}

.backgroundPrikol h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.prikolflex {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

.prikolflex .prikol {
    flex-grow: 1;
    width: 10px;
    height: 70%;
    border: 2px solid black;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Контакты */

.footer {
    margin-bottom: auto;

    height: 200px;
    width: 100%;
    background-color: lightslategray;
}

.footer .contacts {
    display: inline-block;
    height: 100%;
    width: 200px;
}

.footer .social {
    display: inline-block;
    height: 100%;
    width: 200px;
}
